<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= article.title %>
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>

  <div class="container">
    <% if (article) { %>
      <h1 class="mt-4">
        <%= article.title %>
      </h1>
      <div>
        <%= article.text %>
      </div>

      <% } else { %>
        <div>Article not found.</div>
        <% } %>
          <div>
            <a class="btn btn-outline-primary btn-sm mt-4" href="/articles">Back to Articles</a>
          </div>
  </div>

</body>

</html>